---
layout: base.njk
title: Страница не найдена
description: Страница не найдена. Вернитесь на главную.
permalink: /404.html
eleventyExcludeFromCollections: true
---

<section class="not-found">
  <div class="not-found__inner">
    <div class="not-found__bg">404</div>
    <div class="not-found__center">
      <span class="not-found__error">error</span>
      <p class="not-found__desc">Страница не найдена или была удалена</p>
      <a href="/" class="btn btn--outline">На главную</a>
    </div>
  </div>
</section>
